<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<cif-table v-bind:cifs="cifs" v-on:add-cif="addCif" v-on:remove-cif="removeCif" v-on:add-loan="addLoan"
				v-on:remove-loan="removeLoan">
			</cif-table>
		</div>

		<script type="text/x-template" id="comp-cif-table">
		<table border="1">
			<thead>
				<tr>
					<th></th>
					<th>country</th>
					<th>cif no</th>
				</tr>
			</thead>
			<tbody v-for="cif in cifs">
				<tr>
					<td rowspan="2"><button v-on:click="removeCif(cif.country.new,cif.cifno.new)">x</button></td>
					<td>
						<select v-model="cif.country.new">
							<option value="TW">TW</option>
							<option value="SG">SG</option>
							<option value="VN">VN</option>
						</select>
					</td>
					<td><input type="text" v-model="cif.cifno.new"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<loan-table 
							v-bind:country="cif.country.new"
							v-bind:cifno="cif.cifno.new"
							v-bind:loans="cif.loans" 
							v-on:add-loan="addLoan" 
							v-on:remove-loan="removeLoan">
						</loan-table>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"><button v-on:click="addCif">+</button></td>
				</tr>
			</tfoot>
		</table>
		</script>

		<script type="text/x-template" id="comp-loan-table">
		<table border="1">
			<thead>
				<tr>
					<th></th>
					<th>system</th>
					<th>line code</th>
				</tr>
			</thead>
			<tbody v-for="loan in loans">
				<tr>
					<td rowspan="2"><button v-on:click="removeLoan(loan.system.new,loan.linecode.new)">x</button></td>
					<td>
						<select v-model="loan.system.new">
							<option value="bancs">bancs</option>
							<option value="ifx">ifx</option>
							<option value="cpcs">cpcs</option>
						</select>
					</td>
					<td><input type="text" v-model="loan.linecode.new" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"><button v-on:click="addLoan">+</button></td>
				</tr>
			</tfoot>
		</table>
		</script>

		<script>
			Vue.component('cif-table', {
				props: ['cifs'],
				template: '#comp-cif-table',
				methods: {
					addCif: function () {
						this.$emit('add-cif');
					},
					removeCif: function (country, cifno) {
						this.$emit('remove-cif', country, cifno);
					},
					addLoan: function (country, cifno) {
						this.$emit('add-loan', country, cifno);
					},
					removeLoan: function (country, cifno, system, linecode) {
						this.$emit('remove-loan', country, cifno, system, linecode);
					}
				}
			});

			Vue.component('loan-table', {
				props: ['country', 'cifno', 'loans'],
				template: '#comp-loan-table',
				methods: {
					addLoan: function () {
						this.$emit('add-loan', this.country, this.cifno);
					},
					removeLoan: function (system, linecode) {
						this.$emit('remove-loan', this.country, this.cifno, system, linecode);
					}
				}
			});

			var app = new Vue({
				el: "#app",
				data: {
					cifs: [{
						deleted: false,
						country: {
							old: "TW",
							new: "TW"
						},
						cifno: {
							old: "11111111",
							new: "11111111"
						},
						loans: [{
							system: {
								old: "bancs",
								new: "bancs"
							},
							linecode: {
								old: "6030",
								new: "6030"
							}
						}, {
							system: {
								old: "bancs",
								new: "bancs"
							},
							linecode: {
								old: "6030",
								new: "6030"
							}
						}]
					}, {
						deleted: false,
						country: {
							old: "SG",
							new: "SG"
						},
						cifno: {
							old: "22222222",
							new: "22222222"
						},
						loans: [{
							system: {
								old: "bancs",
								new: "bancs"
							},
							linecode: {
								old: "6030",
								new: "6030"
							}
						}, {
							system: {
								old: "bancs",
								new: "bancs"
							},
							linecode: {
								old: "6030",
								new: "6030"
							}
						}]
					}, {
						deleted: false,
						country: {
							old: "VN",
							new: "VN"
						},
						cifno: {
							old: "33333333",
							new: "33333333"
						},
						loans: [{
							system: {
								old: "bancs",
								new: "bancs"
							},
							linecode: {
								old: "6030",
								new: "6030"
							}
						}, {
							system: {
								old: "bancs",
								new: "bancs"
							},
							linecode: {
								old: "6030",
								new: "6030"
							}
						}]
					}]
				},
				methods: {
					addCif: function () {
						this.cifs.push({
							country: {
								old: "",
								new: ""
							},
							cifno: {
								old: "",
								new: ""
							},
							loans: [

							]
						});
					},
					removeCif: function (country, cifno) {
						this.cifs = this.cifs.filter(function (element) {
							return (country !== element.country.new && cifno !== element.cifno.new)
						});
						/*
						for (var i = 0; i < this.cifs.length; i++) {
							var element = this.cifs[i];
							this.cifs = this.cifs.filter(function () {
								return (country === element.country.new && cifno === element.cifno.new)
							});
							if (country === element.country.new && cifno === element.cifno.new) {
								this.cifs[i].deleted = true;
							}
						}
						*/
					},
					addLoan: function (country, cifno) {
						for (var i = 0; i < this.cifs.length; i++) {
							var element = this.cifs[i];
							if (country === element.country.new && cifno === element.cifno.new) {
								this.cifs[i].loans.push({
									system: {
										old: "",
										new: ""
									},
									linecode: {
										old: "",
										new: ""
									}
								});
							}
						}
					},
					removeLoan: function (country, cifno, system, linecode) {
						for (var i = 0; i < this.cifs.length; i++) {
							var element = this.cifs[i];
							if (country === element.country.new && cifno === element.cifno.new) {
								this.cifs[i].loans = this.cifs[i].loans.filter(function (element) {
									return (system !== element.system.new && linecode !== element.linecode.new)
								});
							}
						}
					}
				}
			});
		</script>
	</body>

</html>
