<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="scripts/vue.js"></script>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app">
		<cif-table v-bind:cifs="cifs" v-on:add-cif="addCif" v-on:remove-cif="removeCif" v-on:add-loan="addLoan" v-on:remove-loan="removeLoan">
		</cif-table>
	</div>

	<script type="text/x-template" id="comp-cif-table">
		<table class="cif-table">
			<thead>
				<tr>
					<th></th>
					<th>額度所屬國</th>
					<th>CIF no.</th>
					<th>客戶名稱</th>
					<th>GIN</th>
					<th>引入同一歸戶</th>
					<th>關連額度</th>
				</tr>
			</thead>
			<tbody v-for="cif in cifs">
				<tr>
					<td rowspan="2"><button v-on:click="removeCif(cif)">x</button></td>
					<td>
						<select v-model="cif.country.new">
						<option value="TW">TW</option>
						<option value="SG">SG</option>
						<option value="VN">VN</option>
					</select>
					</td>
					<td><input type="text" v-model="cif.cifno.new" /></td>
					<td>{{ cif.cname.new }}</td>
					<td>{{ cif.gin.new }}</td>
					<td><button v-on:click="importGIN(cif.country.new,cif.cifno.new)">引入</button></td>
					<td><button v-on:click="genRelation(cif.country.new,cif.cifno.new)">關連</button></td>
				</tr>
				<tr>
					<td colspan="6">
						<loan-table v-bind:cif="cif" v-on:add-loan="addLoan" v-on:remove-loan="removeLoan">
						</loan-table>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="7"><button v-on:click="addCif">+</button></td>
				</tr>
			</tfoot>
		</table>
	</script>

	<script type="text/x-template" id="comp-loan-table">
		<table class="loan-table">
			<thead style="background-color: black;">
				<tr>
					<th></th>
					<th>系統別</th>
					<th>幣別</th>
					<th>額度編號</th>
					<th>LINE CODE</th>
					<th>額度到期日</th>
				</tr>
			</thead>
			<tbody v-for="loan in cif.loans">
				<tr>
					<td rowspan="2"><button v-on:click="removeLoan(loan)">x</button></td>
					<td>
						<select v-model="loan.system.new">
									<option value="bancs">bancs</option>
									<option value="ifx">ifx</option>
									<option value="cpcs">cpcs</option>
								</select>
					</td>
					<td>
						<select v-model="loan.currency.new">
									<option value="TWD">TWD</option>
									<option value="USD">USD</option>
									<option value="JPY">JPY</option>
								</select>
					</td>
					<td>
						<select v-model="loan.loanno.new">
									<option value="FACM001">FACM001</option>
									<option value="FACM002">FACM002</option>
									<option value="FACM003">FACM003</option>
								</select>
					</td>
					<td>
						<select v-model="loan.linecode.new">
									<option value=""></option>
									<option value="6000">6000</option>
									<option value="6005">6005</option>
								</select>
					</td>
					<td>{{ loan.duedate.new }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6"><button v-on:click="addLoan">+</button></td>
				</tr>
			</tfoot>
		</table>
	</script>



	<script>
		Vue.component("cif-table", {
			props: ["cifs"],
			template: "#comp-cif-table",
			data: function () {
				return {};
			},
			methods: {
				addCif: function () {
					this.$emit("add-cif");
				},
				removeCif: function (cif) {
					this.$emit("remove-cif", cif);
				},
				addLoan: function (cif) {
					this.$emit("add-loan", cif);
				},
				removeLoan: function (cif, loan) {
					this.$emit("remove-loan", cif, loan);
				},
				importGIN: function () {
					alert("yes");
				},
				genRelation: function () {
					alert("no");
				}
			}
		});


		Vue.component("loan-table", {
			props: ["cif"],
			template: "#comp-loan-table",
			data: function () {
				return {};
			},
			methods: {
				addLoan: function () {
					this.$emit("add-loan", this.cif);
				},
				removeLoan: function (loan) {
					this.$emit("remove-loan", this.cif, loan);
				}
			}
		});


		var _newCif = function () {
			return {
				country: {
					old: "",
					new: ""
				},
				cifno: {
					old: "",
					new: ""
				},
				cname: {
					old: "",
					new: ""
				},
				gin: {
					old: "",
					new: ""
				},
				loans: [
				]
			};
		};

		var _newLoan = function () {
			return {
				system: {
					old: "",
					new: ""
				},
				currency: {
					old: "",
					new: ""
				},
				loanno: {
					old: "",
					new: ""
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "",
					new: ""
				}
			};
		};

		var app = new Vue({
			el: "#app",
			data: {
				cifs: []
			},
			beforeCreate: function () {
			},
			created: function () {
			},
			beforeMount: function () {
			},
			mounted: function () {
			},
			beforeUpdate: function () {
			},
			updated: function () {
				for (var i = 0; i < this.cifs.length; i++) {
					this.cifs[i].cifseq = i;
					for (var j = 0; j < this.cifs[i].loans.length; j++) {
						console.log(this.cifs[i].loans[j]);
						this.cifs[i].loans[j].loanseq = j;
					}
				}
			},
			methods: {
				addCif: function () {
					this.cifs.push(new _newCif());
				},
				removeCif: function (cif) {
					this.cifs = this.cifs.filter(function (element) {
						return (cif.cifseq !== element.cifseq);
					});
				},
				addLoan: function (cif) {
					cif.loans.push(new _newLoan());
					for (var j = 0; j < cif.loans.length; j++) {
						cif.loans[j].loanseq = j;
					}
				},
				removeLoan: function (cif, loan) {
					cif.loans = cif.loans.filter(function (element) {
						return (loan.loanseq !== element.loanseq);
					});
				},
				reorder: function () {
					console.log("reorder");
				}
			}
		});

		app.cifs = [{
			deleted: false,
			country: {
				old: "TW",
				new: "TW"
			},
			cifno: {
				old: "11111111",
				new: "09423336"
			},
			cname: {
				old: "11111111",
				new: "時時電腦股份有限"
			},
			gin: {
				old: "11111111",
				new: "0010123"
			},
			loans: [{
				system: {
					old: "bancs",
					new: "bancs"
				},
				currency: {
					old: "TWD",
					new: "TWD"
				},
				loanno: {
					old: "FACM001",
					new: "FACM001"
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "2020-10-17",
					new: "2020-10-17"
				}
			}, {
				system: {
					old: "bancs",
					new: "bancs"
				},
				currency: {
					old: "TWD",
					new: "TWD"
				},
				loanno: {
					old: "FACM001",
					new: "FACM001"
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "2020-10-17",
					new: "2020-10-17"
				}
			}]
		}, {
			deleted: false,
			country: {
				old: "SG",
				new: "SG"
			},
			cifno: {
				old: "22222222",
				new: "617668FN"
			},
			cname: {
				old: "11111111",
				new: "TIME COMPUTER CO"
			},
			gin: {
				old: "11111111",
				new: "0010123"
			},
			loans: [{
				system: {
					old: "bancs",
					new: "bancs"
				},
				currency: {
					old: "TWD",
					new: "TWD"
				},
				loanno: {
					old: "FACM001",
					new: "FACM001"
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "2020-10-17",
					new: "2020-10-17"
				}
			}, {
				system: {
					old: "bancs",
					new: "bancs"
				},
				currency: {
					old: "TWD",
					new: "TWD"
				},
				loanno: {
					old: "FACM001",
					new: "FACM001"
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "2020-10-17",
					new: "2020-10-17"
				}
			}]
		}, {
			deleted: false,
			country: {
				old: "VN",
				new: "TW"
			},
			cifno: {
				old: "33333333",
				new: "04231812"
			},
			cname: {
				old: "11111111",
				new: "微軟資訊有限公司"
			},
			gin: {
				old: "11111111",
				new: "0010964"
			},
			loans: [{
				system: {
					old: "bancs",
					new: "bancs"
				},
				currency: {
					old: "TWD",
					new: "TWD"
				},
				loanno: {
					old: "FACM001",
					new: "FACM001"
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "2020-10-17",
					new: "2020-10-17"
				}
			}, {
				system: {
					old: "bancs",
					new: "bancs"
				},
				currency: {
					old: "TWD",
					new: "TWD"
				},
				loanno: {
					old: "FACM001",
					new: "FACM001"
				},
				linecode: {
					old: "",
					new: ""
				},
				duedate: {
					old: "2020-10-17",
					new: "2020-10-17"
				}
			}]
		}];
	</script>
</body>

</html>
